
h1 {
    text-align: center;
}

#app {
    margin: 0px;
    height: 100%;
    overflow: auto;
    background-color: darkgrey;
}

#SearchBarAndResultsPopupContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    margin: 20px auto;
}