

input[type="text"] {
    display: block;
    margin: 3vh auto;
    min-width: 200px;
    width: 20vw;
    margin-bottom: 0px;
    font-size: 30px;

    outline: none;
    border: none;
    border-bottom: 3px solid black;
}

input[type="text"]:focus {
    background-color: rgb(218, 233, 238);
}